<template>


  <Modal
      v-bind:key="employee"
      :employee="employee"
      v-show="isModalVisible"
      @close="closeModal"
      @closeWithRefresh="closeModalWithRefresh"
  />

  <div class="parent">

    <div class="header">
      <h1 class="float-sm-start">{{ msg }}</h1>
      <button class="btn btn-success float-sm-end" id="add-new-employee" @click="showModal">Add new Employee</button>
    </div>

    <div>

      <ul id="menu">


        <li v-for="employee in employees" v-bind:key="employee" class="card-body">
          <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
            <Card :employee="employee"
                  @refresh="refresh"
                  @showEditModal="showEditModal"
                  @deleteEmployee="deleteEmployee"
            ></Card>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import {ref} from "@vue/reactivity";
import Card from './Card'
import Modal from './AddEmployeeModal'
import firebase from 'firebase';

export default {
  name: 'CardContainer',
  components: {
    Card,
    Modal
  },
  props: {
    msg: String,
  },

  setup() {

    const isModalVisible = ref(false);
    const employee = ref({});

    const employees = ref([]);

    getEmployees();

    function getEmployees() {
      employees.value = [];
      const db = firebase.firestore();

      db.collection('employees')
          .get()
          .then(snap => {
            snap.forEach(doc => {
              employees.value.push({
                "id": doc.valueOf().id,
                "name": doc.valueOf().data()["name"],
                "email": doc.valueOf().data()["email"],
                "phone": doc.valueOf().data()["phone"],
                "photo_url": doc.valueOf().data()["photo_url"],
                "status": doc.valueOf().data()["status"],
                "time": doc.valueOf().data()["time"],
                "title": doc.valueOf().data()["title"],
              });
            });
          });
    }

    function showModal() {
      isModalVisible.value = true;
    }

    function showEditModal(tempEmployee) {
      employee.value = tempEmployee;
      showModal()
    }


    function closeModal() {
      isModalVisible.value = false;
      employee.value = {}
    }

    function closeModalWithRefresh() {
      isModalVisible.value = false;
      employee.value = {}
      refresh()
    }

    function refresh() {
      getEmployees();
    }

    function deleteEmployee(employee) {

      let storageRef = firebase.storage().ref();
      if (employee.photo_url) {
        let imagesRefToDelete = storageRef.child(employee.photo_url);
        imagesRefToDelete.delete();
      }
      const db = firebase.firestore();
      db.collection('employees')
          .doc(employee.id).delete().then(() => {
            refresh()
          }
      );
    }

    return {
      employees: employees,
      isModalVisible,
      employee,
      showModal,
      closeModal,
      closeModalWithRefresh,
      refresh,
      showEditModal,
      deleteEmployee,
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h1 {
  margin-left: 20px;
}

.parent {
  position: relative;
}

#add-new-employee {
  margin-right: 20px;
}

.card-body {
  display: inline;
  margin-top: 50px;
}

#menu {

}

ul {
  display: inline-flex;
  white-space: nowrap;
  flex-wrap: wrap;
}
</style>
