<template>

  <button
      type="button"
      class="edit-btn btn btn-primary"
      @click="showModal">
    Edit
  </button>

  <div>
    <img id="preview_im" v-if="imageUrl" :src="imageUrl" aria-placeholder=""/>
  </div>

  <h5 hidden ref="id" class="card-title"> {{ employee.id }} </h5>
  <p class="card-text"> {{ employee.name }} </p>
  <p class="card-text"> {{ employee.title }} </p>
  <p class="card-text"> {{ employee.email }} </p>
  <p class="card-text"> {{ employee.phone }} </p>

  <p class="card-text"> {{ employee.status }} </p>
  <p class="card-text"> {{ employee.time }} </p>

  <button
      type="button"
      class="delete-btn btn btn-danger"
      @click="deleteEmployee"
  >
    Delete
  </button>
</template>

<script>

import firebase from 'firebase';
import {onMounted} from 'vue'
import {ref} from "@vue/reactivity";

export default {
  name: 'Card',
  props: {
    employee: {},
  },

  setup(props, context) {

    const isModalVisible = ref(false)
    const imageUrl = ref("https://via.placeholder.com/150")

    onMounted(() => {
      getImage();
    })

    function showModal() {
      // this.isModalVisible = true;
      context.emit("showEditModal", props.employee)
    }

    function getImage() {
      let storageRef = firebase.storage().ref();
      let imageRef = storageRef.child(props.employee.photo_url);
      imageRef.getDownloadURL().then((url) => {
        imageUrl.value = url;
      });
    }

    function deleteEmployee() {
      context.emit("deleteEmployee", props.employee)
    }

    return {
      isModalVisible,
      imageUrl,
      showModal,
      deleteEmployee,
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

#preview_im {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
}

.edit-btn {
  margin: auto;
  width: 100px;
  position: center;
  margin-bottom: 10px;
  border-radius: 2px;
}

.delete-btn {
  margin: auto;
  width: 100px;
  position: center;
  margin-bottom: 10px;
  border-radius: 2px;
}

a {
  color: #42b983;
}
</style>
