<!-- Add this to <head> -->

<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />



<template>
  <CardsContainer msg="Employees App"/>
</template>

<script>

import CardsContainer from './components/CardsContainer.vue'

import "bootstrap/dist/css/bootstrap.min.css";




export default {
  name: 'App',
  components: {
    CardsContainer
  }
}

import firebase from 'firebase';
// import Vue from 'vue';
require('firebase/firestore');

// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const config = {
  apiKey: "AIzaSyD7loDjl1gnDb6hAs3vJWZdMjbtPUwdIkE",
  authDomain: "vuejs-a6f85.firebaseapp.com",
  projectId: "vuejs-a6f85",
  storageBucket: "vuejs-a6f85.appspot.com",
  messagingSenderId: "68919428135",
  appId: "1:68919428135:web:c844851422020e99a63a02",
  measurementId: "G-1BM9RYX9W3"
};


firebase.initializeApp(config);


/* Bind firebase to your Vue instance */
// Vue.prototype.$firebase = firebase;

// Vue.config.productionTip = false;
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
